@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes blink {
  0% { background-color: #fee2e2; }
  50% { background-color: #fecaca; }
  100% { background-color: #fee2e2; }
}

.blink {
  animation: blink 1s infinite;
}

body {
  @apply bg-[#0F172A] text-[#F1F5F9];
}